services:
  api:
    build: .
    command: node dist/main.js
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      BULL_CONCURRENCY: 2
    depends_on: [redis]
    ports: ["3000:3000"]
    restart: unless-stopped

  worker:
    build: .
    command: node dist/workers/summarize.worker.js
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_HOST: redis
      REDIS_PORT: 6379
      BULL_CONCURRENCY: 2
    depends_on: [redis]
    restart: unless-stopped

  redis:
    image: redis:7
    ports: ["6379:6379"]
    restart: unless-stopped
